<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.yjy.idw.image.ImageDAO">
    <insert id="insertImage" parameterType="com.yjy.idw.image.ImageVO">
        insert into IMAGE(tournament_id, name, URL, win_cnt)
        values(#{tournament_id},#{name},#{URL},#{win_cnt})
    </insert>
    
    <select id="getImageList" resultType="com.yjy.idw.image.ImageVO">
    	select * 
    	from IMAGE
    	where tournament_id = #{tournament_id}
    </select>
    
    <update id="addWinCnt">
    	update IMAGE 
    	set win_cnt=win_cnt+1
    	where id=#{id}
    </update>
</mapper>